<!-- /home/kamkara/YCOMPANY/Develop/Web.Ankagramapp/app/views/home/index.html.erb -->

<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="max-w-md mx-auto bg-white shadow-md rounded-md p-8">
    <h1 class="text-3xl font-bold mb-4">Welcome to Paggram</h1>
    <p class="text-gray-600 mb-8">Create your personalized bio link page.</p>
    <%= link_to "Compte Admin", "admin-signup", class:"bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" %>
    <%= link_to "Connecter Admin", "admin-signin", class:"bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" %>

    <br>
    <br><br><br>
    <%= link_to "Compte User", "user-signup", class:"bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" %>
    <%= link_to "Connecter User", "user-signin", class:"bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" %>
  </div>
</div>

